
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Proof of concept of TestNG">

  <test name="Test1">
    <classes>
      <class name="testng.ExceptionTimeOutTest"/>
    </classes>
    </test>
    
     <test name="TestingGoogle2">
    <classes>
    <class name="testng.GoogleTest"/>
    </classes>
    </test>
    
     <test name="TestingGoogle3">
    <classes>
     <class name="testng.GoogleTitleTest"/>
    </classes>
    </test>
    
     <test name="TestingGoogle4">
    <classes>
      <class name="testng.InvocationCountTest"/>
    </classes>
    </test>
    
     <test name="TestingGoogle5">
    <classes>
       <class name="testng.TestNgBasics"/>
    </classes>
    </test>
    
     <test name="TestingGoogle6">
    <classes>
       <class name="testng.TestNgFeatures"/>
    </classes>  
   </test> <!-- Test -->
</suite> <!-- Suite -->



     
      
     
      
      