<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.java.testng.ExceptionTimeOutTest"/>
       <class name="test.java.testng.GoogleTest"/>
        <class name="test.java.testng.GoogleTitleTest"/>
         <class name="test.java.testng.InvocationCountTest"/>
          <class name="test.java.testng.TestNgBasics"/>
           <class name="test.java.testng.TestNgFeatures"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
